body {
  margin: 0;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 10px;
  gap: 10px;
  background-color: lightslategray;
}

h1, h3 {
  text-align: center;
  color: whitesmoke;
  margin: 0;
  margin-top: 1px;
}

h1 {
  font-size: xx-large;
}

.menu-btns-container {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 4px;
}

.save-and-open-btns-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 4px;
}

.save-and-open-btns-container button {
  width: 50%;
}

.menu-btn {
  display: flex;
  justify-content: center;
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
  color: whitesmoke;
  background-color: #00224B;
}

#swapWithBtn {
  padding-top: 3px;
  font-size: large;
}

#inputTextModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 4px;
  top: 48%;
  transform: scale(0);
  transition: 200ms ease-in-out;
  border: none;
  z-index: 3;
}

#inputTextModal.active {
  transform: scale(1);
}

#inputTextbox {
  width: 100%;
}

.input-error-msg {
  font-weight: bold;
  color: whitesmoke;
  background-color: crimson;
}

#userConfirmationModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  margin: 0 auto;
  padding: 5px;
  gap: 6px;
  background-color: lightslategray;
  border: none;
  border-radius: 6px;
  z-index: 4;
}

#userConfirmationModal.active {
  transform: translate(-50%, -50%) scale(1);
}

#confirmationBtnsContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 6px;
}

#confirmationBtnsContainer button {
  width: 50%;
  margin: 0;
  color: whitesmoke;
  font-weight: bold;
  border-color: black;
  border-radius: 4px;
}

.yes-confirmation-btn {
  background-color: crimson;
}

.no-confirmation-btn {
  background: none;
}

#windowSelectModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: scale(0);
  transition: 200ms ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #00224B;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  z-index: 1;
}

#windowSelectModal.active {
  transform: scale(1);
}

.window-select-header {
  display: flex;
  justify-content: right;
  margin-top: 6px;
  margin-bottom: 3px;
  gap: 20%;
}

.close-window-select-modal-btn {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  text-align: left;
  font-size: medium;
  font-weight: bold;
  color: whitesmoke;
  background-color: #00224B;
}

.window-select-options-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 8px;
  gap: 1px;
}

.window-select-option-btns-container {
  display: flex;
  justify-content: right;
}

.window-open-btn {
  flex-grow: 1;
  border: none;
  text-align: left;
  color: #00224B;
  background-color: whitesmoke;
}

.btn-image {
  width: 17px;
  height: 17px;
  pointer-events: none;
}

.window-rename-btn {
  display: flex;
  width: 25px;
  justify-content: center;
  padding-top: 3px;
  border: none;
  background-color: teal;
}

.window-remove-btn {
  display: flex;
  width: 25px;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  background-color: firebrick;
}

.swap-option-btn {
  border: none;
  text-align: left;
  color: #00224B;
  background-color: whitesmoke;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: 2;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
