body {
  margin: 0;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 100px;
  padding: 10px;
  gap: 10px;
  background-color:lightslategray;
}

h1, h3 {
  text-align: center;
  color: whitesmoke;
  margin: 0;
  margin-top: 1px;
}

.menu-btns-container {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 4px;
}

.menu-btn {
  border-radius: 6px;
  font-weight: bold;
  color: whitesmoke;
  background-color: #00224B;
}

#inputTextModal {
  position: fixed;
  top: 48%;
  transform: scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 6px;
  background-color: white;
  z-index: 10;
}

#inputTextModal.active {
  transform: scale(1);
}

#inputTextbox {
  width: 100%;
}

#windowSelectModal {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: scale(0);
  transition: 200ms ease-in-out;
  width: 100%;
  height: 100%;
  background-color: #00224B;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  z-index: 10;
}

#windowSelectModal.active {
  transform: scale(1);
}

.window-select-header {
  display: flex;
  margin-top: 6px;
  margin-bottom: 3px;
  gap: 6px;
  justify-content: right;
}

.close-window-select-modal-btn {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
  text-align: left;
  font-size: medium;
  font-weight: bold;
  color: whitesmoke;
  background-color: #00224B;
}

.window-select-options-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 8px;
  gap: 1px;
}

.window-select-option-btn {
  width: 100%;
  border: none;
  text-align: left;
  color: #00224B;
  background-color: whitesmoke;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
